@import "../variables";

.heading {
    font-size: 50px;
    position: relative;
    &::after {
        content: "";
        position: absolute;
        left: -3px;
        bottom: 3px;
        height: 20px;
        width: 6ch;
        background: $default;
        z-index: -1;
    }
}
